<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Orgratro It Traffics" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= asset_path('orgratro_it.svg') %>" type="image/x-icon">  
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js", defer: true %>
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />



    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto">
      <%= render "Shared/NavBar"%>
      <%= render "Shared/Toster"%>
      <%= yield %>
       <%= render "Shared/Footer"%>
    </main>
  </body>
</html>
